*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: gainsboro;
    min-width: 870px;
    font-family: Helvetica, sans-serif;
}

/* TEXT AREA PAGE STYLING (currently set to A4 size) */
.ql-editor {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
}


/* WHOLE QUILL CONTAINER STYLING */
.editorContainer .ql-container.ql-snow {
    display: flex;
    justify-content: center;
    border: none;
}
.viewerContainer .ql-container.ql-snow {
    display: flex;
    justify-content: center;
    border: none;
}


/* TOOLBAR STYLING */
#editorToolbar {
    display: flex;
    position: sticky;
    padding: 0;
    min-height: 40px;
    align-items: center;
    top: 0;
    z-index: 1;
    background-color: gainsboro;
    width: 100vw;
    justify-content: center;
}
#viewerToolbar {
    display: flex;
    position: sticky;
    padding: 0;
    min-height: 40px;
    top: 0;
    z-index: 1;
    background-color: gainsboro;
    width: 100vw;
    justify-content: center;
}
.toolbar-left {
    display: flex;
    width: 10%;
    min-width: fit-content;
}
.toolbar-centre {
    display: flex;
    justify-content: center;
    width: 80%;
    min-width: fit-content;
}
.toolbar-right {
    display: flex;
    width: 10%;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 207, 147);
    padding: 0;
    min-height: 40px;
    color: #444;
}
.ql-snow.ql-toolbar button.ql-switchViewButton {
    width: fit-content;
    padding: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.ql-snow.ql-toolbar button.ql-switchEditButton {
    width: fit-content;
    padding: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}


/* NEW FILE DIALOG STYLING */
.new-file-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* FILE BROWSER STYLING */
.file-browser {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 350px;
    height: 100vh;
    color: #444;
    background-color: rgb(220, 237, 238);
}
.app-title {
    margin-left: 15px;
}
.file-browser-list {
    margin: 15px;
    padding: 0;
}
.file-selector {
    list-style: none;
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 4px;
    flex-direction: row;
    border-bottom: 1px solid;
}
.file-selector-selectors {
    margin-left: auto;
}
.file-edit-button {
	background-color:#44c767;
	border:1px solid #18ab29;
	color:#ffffff;
	text-decoration:none;
}
.file-edit-button:hover {
	background-color:#5cbf2a;
}
.file-edit-button:active {
	position:relative;
	top:1px;
}
.file-view-button {
	background-color:#8e5bc9;
	border:1px solid #7c37a3;
	color:#ffffff;
	text-decoration:none;
}
.file-view-button:hover {
	background-color:#8a4cbd;
}
.file-view-button:active {
	position:relative;
	top:1px;
}
