*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: gainsboro;
}

/* TEXT AREA PAGE STYLING (currently set to A4 size) */
.ql-editor {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
}


/* WHOLE QUILL CONTAINER STYLING */
.editorContainer .ql-container.ql-snow {
    display: flex;
    justify-content: center;
    border: none;
}
.viewerContainer .ql-container.ql-snow {
    display: flex;
    justify-content: center;
    border: none;
}


/* TOOLBAR STYLING */
#editorToolbar {
    display: flex;
    position: sticky;
    padding: 0;
    min-height: 40px;
    align-items: center;
    top: 0;
    z-index: 1;
    background-color: gainsboro;
}
#viewerToolbar {
    display: flex;
    position: sticky;
    padding: 0;
    min-height: 40px;
    top: 0;
    z-index: 1;
    background-color: gainsboro;
}
.toolbar-left {
    display: flex;
    min-width: 10vw;
}
.toolbar-centre {
    display: flex;
    min-width: 80vw;
    justify-content: center;
}
.toolbar-right {
    display: flex;
    min-width: 10vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 207, 147);
    padding: 0;
    min-height: 40px;
    color: #444;
}
.ql-snow.ql-toolbar button.ql-switchViewButton {
    width: fit-content;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.ql-snow.ql-toolbar button.ql-switchEditButton {
    width: fit-content;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}


/* NEW FILE DIALOG STYLING */
.new-file-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}